@media(max-width: 375px){
    .logo{
        width: 100%; 
    }
    .logo img{
        width: 30%
    }
    .cabecalho .logo h1{
        font-size: 40px;
    }
    nav{
        width: 100%;
        text-align: center;
    }
    .menu{
        flex-direction: column;
        margin-top: 100px;
    }
    .menu li a:not(.btn){
        font-size: 40px;
        padding: 10px 15px;
    }
    .btn{
        display: inline-block;
        margin-left: 0;
        margin-top: 63px;
    }
}